@tailwind base;
@tailwind components;
@tailwind utilities;
 

@keyframes gradient-animation {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.animate-gradient {
  background: linear-gradient(270deg, 
      #3B82F6, /* blue-400 */
      #60A5FA, /* blue-300 */
      #4ADE80, /* green-400 */
      #FBBF24, /* yellow-400 */
      #F87171, /* red-400 */
      #A78BFA, /* purple-400 */
      #FBBF24, /* yellow-400 */
      #3B82F6, /* blue-400 */
      #60A5FA, /* blue-300 */
      #4ADE80  /* green-400 */
  );
  background-size: 400% 400%;
  animation: gradient-animation 10s ease infinite;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --primary-color: #fff;
  --secondary-color: #26354b;
  --btn-background: #3a6cef;
  --btn-hover: #3a6defeb;
  --search: #adaea7;
  --icon-hover: #adaea7bb;
}

header {
  position: relative;
  width: 100%;
  height: 6.5rem;
  box-shadow: 10px 10px 2px 1px rgba(0, 0, 0, 0.2);
}
/* header section */

.nav_1 {
  width: 100%;
  height: 2.5rem;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid var(--search);
}

.details {
  position: absolute;
  left: 8rem;
  color: var(--search);
}

.details span {
  margin-right: 0.5rem;
}

.details span i {
  padding: 0 0.5rem;
  color: var(--btn-background);
}

.icons {
  position: absolute;
  right: 8rem;
}

.icons a {
  padding: 0 0.5rem;
  color: var(--search);
}

.icons a:hover {
  color: var(--icon-hover);
}

.logo {
  position: absolute;
  left: 8rem;
  font-size: 2rem;
  font-weight: 800;
}

.logo a {
  text-decoration: none;
  color: var(--secondary-color);
}
.nav_2 {
  width: 100%;
  height: 4rem;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav_2 .links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav_2 .links li {
  list-style: none;
  margin: 0 0.5rem;
  font-weight: 700;
}

.nav_2 .links li a {
  text-decoration: none;
  padding: 0.5rem;
  color: var(--secondary-color);
}

.nav_2 .links li a:hover {
  background-color: var(--btn-background);
  color: var(--primary-color);
  border-radius: 0.5rem;
}

.buttons {
  position: absolute;
  right: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons i {
  font-size: 1.4rem;
  cursor: pointer;
  color: var(--search);
}
.buttons button {
  cursor: pointer;
  margin-left: 1rem;
  padding: 0.6rem;
  text-align: center;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  color: var(--primary-color);
  background-color: var(--btn-background);
}

.buttons button:hover {
  background-color: var(--btn-hover);
}

.buttons button i {
  font-size: 10px;
  padding-left: 5px;
  color: var(--primary-color);
}

/* hide btn  */

.bars_sear {
  display: none;
}

/* hero  */
.hero-img {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: left;
  z-index: 10;
  cursor: pointer;
}

.text {
  position: absolute;
  font-size: 4vw;
  top: 15rem;
  left: 5rem;
  color: var(--secondary-color);
}

.hero-img img {
  width: 100%;
  height: auto;
}

.hero-img .hero-para {
  font-size: 1rem;
  line-height: 2;
}

.hero-btn {
  padding: 0.6rem;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
  color: var(--primary-color);
  background-color: var(--btn-background);
}

.hero-btn:hover {
  background-color: var(--btn-hover);
}

.hero-btn i {
  font-size: 10px;
  padding-left: 5px;
}

/* container  */

.contain_1 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;
  margin: 4rem 0rem;
}

.contain_1 .img_box {
  width: 25rem;
  height: auto;
}

.contain_1 .img_box img {
  width: 100%;
  height: auto;
}

.contain_1 .text-box {
  width: 25rem;
  height: auto;
  color: var(--secondary-color);
}

.para_1 {
  margin-top: 1rem;
  font-weight: 700;
  line-height: 1.5;
}

.para_2 {
  margin-top: 1rem;
  line-height: 1.5;
}

.details-buttons {
  width: 20rem;
  height: auto;
  margin-left: 1rem;
}

.details-buttons .dt-btn {
  width: 20rem;
  padding: 1.5rem 0rem 1.5rem 0rem;
  margin-top: 1rem;
  text-align: left;
  font-size: 1rem;
  font-weight: 500;
  position: relative;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  background-color: var(--btn-background);
  color: var(--primary-color);
}

.details-buttons .dt-btn .icon {
  font-size: 1.5rem;
  padding: 0rem 0.5rem 0rem 1.5rem;
}

.details-buttons .dt-btn .icon-right {
  position: absolute;
  right: 2rem;
  top: 2rem;
}

.details-buttons .dt-btn:hover {
  background-color: var(--btn-hover);
}

@media (max-width: 1024px) {
  header {
    height: 4rem;
    width: 100%;
  }
  .bars_sear {
    display: block;
    right: 1rem;
    position: absolute;
    font-size: 1.5rem;
    font-weight: 900;
  }

  .bars_sear .sear {
    padding-right: 0.5rem;
  }

  .nav_2 .links {
    display: none;
  }
  .nav_1 {
    display: none;
  }

  .buttons {
    display: none;
  }

  .logo {
    left: 1rem;
    font-size: 2rem;
  }

  /* hero  */
  .text {
    top: 2rem;
    left: 2rem;
    font-size: 4vw;
  }

  .hero-btn {
    font-size: 0.5rem;
    margin: 0.5rem 0.5rem 0.5rem 0;
  }

  .hero-btn i {
    font-size: 8px;
  }

  .hero-img .hero-para {
    font-size: 0.5rem;
    line-height: 2;
  }

  .text {
    top: 5.5rem;
  }

  /* container  */
  .contain_1 {
    margin-top: 0;
    justify-content: space-evenly;
    margin-bottom: 2rem;
  }

  .heading_1 {
    margin-left: 1rem;
  }

  .text-box {
    margin-top: 1rem;
  }

  .text-box .para_1 {
    margin-left: 1rem;
  }

  .text-box .para_2 {
    margin-left: 1rem;
  }

  .details-buttons {
    margin: 0;
  }
}
